<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <div fxFlex="40" fxFlex.md="50" fxFlex.sm="75" fxFlex.xs="90" class="container">
        <mat-toolbar class="heading" fxLayoutAlign="center center">Your employees</mat-toolbar>
        <mat-card *ngFor="let employee of employees" class="example-card">
            <mat-card-header class="header">
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{ employee.name }}</mat-card-title>
              <mat-card-subtitle>{{ employee.email }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content> 
                <mat-chip-list aria-label="Fish selection" class="chip-list">
                    <mat-chip color="accent" selected>{{ employee.role }}</mat-chip>
                </mat-chip-list>                  
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center center">
                <button  mat-raised-button color="accent" (click)="onSelect(employee._id, employee.name)">Write review</button>
            </mat-card-actions>
          </mat-card>           
    </div>
</div>