.main-div {
    height: 100%;
    background-color: rgb(153, 0, 255);
    .container {
        .mat-toolbar {
            border-radius: 6px;
            font-weight: 300;
            font-size: 30px;
        }
        .example-header-image {
            background-image: url('https://cdn.iconscout.com/icon/premium/png-512-thumb/google-forms-5-680508.png');
            background-size: cover;
        }
        .mat-card {
            margin: 2px;
            .header {
                border-bottom: 1px solid rgb(200, 200, 200);
                margin-bottom: 10px;
                padding-bottom: 0px;
            }
        }
        .mat-accordion {
            margin: 4px;
        }

    }

}