.main-div {
    background-color: rgb(153, 0, 255);
    .container {
        .example-header-image {
            background-image: url('https://www.freeiconspng.com/uploads/person-outline-icon-png-person-outline-icon-png-person-17.png');
            background-size: cover;
        }
        .header {
            border-bottom: 1px solid rgb(200, 200, 200);
            margin-bottom: 7px;
            padding-bottom: 6px;
        }
        mat-card {
            margin: 8px;
            button {
                float: right;
                margin: auto;
            }
        }
    }

}