<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <div fxFlex="25" fxFlex.md="50" fxFlex.sm="75" fxFlex.xs="90">
        <mat-card label="Login" >
            <mat-toolbar color="primary">Review for {{empName}}</mat-toolbar>
            <form 
                fxLayoutAlign="stretch" 
                fxLayout="column" 
                class="login-form"
            >
                <mat-form-field>
                    <input [(ngModel)]="name" name="name" matInput name="email" placeholder="name">
                </mat-form-field>  
                <mat-form-field>
                    <mat-label>Eval criteria/question number 1</mat-label>
                    <input [(ngModel)]="ratings[0]" name="r1" matInput type="number"  min="0" step="1"  max="5" placeholder="0">              
                </mat-form-field> 
                <mat-form-field>
                    <mat-label>Eval criteria/question number 2</mat-label>
                    <input  [(ngModel)]="ratings[1]" name="r2" matInput type="number"  min="0" step="1"  max="5" placeholder="0">              
                </mat-form-field> 
                <mat-form-field>
                    <mat-label>Eval criteria/question number 3</mat-label>
                    <input  [(ngModel)]="ratings[2]" name="r3" matInput type="number"  min="0" step="1"  max="5" placeholder="0">              
                </mat-form-field> 
                <mat-form-field>
                    <mat-label>Eval criteria/question number 4</mat-label>
                    <input  [(ngModel)]="ratings[3]" name="r4" matInput type="number" min="0" step="1"  max="5" placeholder="0">              
                </mat-form-field> 
                <mat-form-field>
                    <mat-label>Eval criteria/question number 5</mat-label>
                    <input  [(ngModel)]="ratings[4]" name="r5" matInput type="number" min="0" step="1"  max="5" placeholder="0">              
                </mat-form-field>          
                <button (click)="postReview()" mat-raised-button color="primary" type="submit">Submit</button>   
            </form>        
        </mat-card>
    </div>
</div>