<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <div fxFlex="25" fxFlex.md="50" fxFlex.sm="75" fxFlex.xs="90">
        <mat-card label="Login" >
            <mat-toolbar color="primary">Login</mat-toolbar>
            <form 
                fxLayoutAlign="stretch" 
                fxLayout="column" 
                class="login-form"
            >
                <mat-form-field>
                    <input [(ngModel)]="loginUserData.email" name="email" matInput placeholder="email">
                </mat-form-field>          
                <mat-form-field>
                    <input [(ngModel)]="loginUserData.password" name="password" matInput type="password" placeholder="Password">
                </mat-form-field>
                <button (click)="loginUser()" mat-raised-button color="primary" type="submit">Login</button>   
            </form>        
        </mat-card>
    </div>
</div>